body{
	margin: 0;
	padding: 0;	
}

.top{
	background-color: #433C34;
	color: white;
	height: 650px;
	width: 100%

}

.belancio{
	font-weight: bold;
	font-size: 120%;
	padding-top: 20px;
	margin-left: 25px;
	display: inline-block;
}

.links{
	display: inline-block;
	word-spacing: 20px;
	margin-left: 600px;
	padding-top: 20px;
}

.topLogo{
	margin-left: 38%;
	padding-top: 5%;
}

.slogan {
	margin-left: 43%;
	padding-top: 2%
}

.image{
	margin-left: 11%;
	padding-top: 18px;
}

.clients{
	font-size: 160%;
	padding-top: 70px;
	margin-left: 30px;
	margin-bottom: 30px;
	color: #4d4d4d;
	font-family: sans-serif;
}

.bottom-logo{
	margin-left: 110px;
}

.bottom{
	width: 100%;
	height: 200px;
	background-color: #85DBC2;
	margin-top: 30px;
	color: white;
	font-family: sans-serif;
}

.bottom-head{
	font-size: 180%;
	padding-top: 50px;
	margin-left: 50px;
}

.bottom-button{
	border: 1px solid white;
	height: 28px;
	width: 120px;
	padding-top: 15px;
	margin-left: 40%;
	text-align: center;
	margin-top: 30px;	
}

.top-footer{
	background-color: #e6e6e6;
	width: 100%;
	height: 70px;
}

.foot-name{
	letter-spacing: 2px;
	color: #666666;
	padding-top: 20px;
	margin-left: 20px;
	display: inline-block;
	font-weight: bold;
}

.foot-links{
	display: inline-block;
	margin-left: 630px;
	word-spacing: 30px;
	padding-top: 20px;
	color: grey;
	font-size: 80%;
}

.bottom-footer{
	width: 100%;
	height: 50px;
}

.loveCali{
	display: inline-block;
	font-size: 80%;
	padding-top: 20px;
	margin-left: 10px;
}

.copyRight{
	display: inline-block;
	font-size: 80%;
	padding-top: 20px;
	margin-left: 500px;
}





















