<div ng-controller="FeedCtrl">
  <h2>The Props Feed</h2>
  <a href="#/me">View my props</a>
<!-- Error Message -->
  <p class="error" ng-model="errorMessage">{{error}}</p>
<!-- prop input -->
  <textarea class="form-control" placeholder="Compliment me :)" ng-model="newProp.text"></textarea>
  <div class="row">
    <div class="col-md-4">
      <select ng-model="newProp.receiver" ng-options="bru as bru.first_name for bru in brus" class="form-control"></select>
    </div>
    <div class="col-md-4">
      <div class="btn btn-info" ng-click="addProp()">Validate and send!</div>
    </div>
    <br>
    <button ng-click = "refresh()"> Refresh </button> 
  </div>

  <div class="props-feed">
    <div class="prop" ng-repeat="prop in props">
      <p>{{prop.text}}</p>
      <div>
        <small>Positivity: {{prop.positivity_score}}</small>
      </div>
      <small>To: {{prop.receiver.first_name}}</small>
    </div>
  </div>
</div>