<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>validate form</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="./validateForm.js"></script>

</head>
<body ng-app="validateApp" ng-controller="MainCtrl">
	<div ng-model="successful"ng-hide="successful">
		<p> Name </p>
		<input type="text" class="form-control" ng-model="newName">
		<p> Phone Number </p>
		<input type="text" ng-model="newNumber">
		<p> Email </p>
		<input type="text" ng-model="newEmail">
		<p> Password</p>
		<input type="password" ng-model="newPassword">
		<p> Repeat Password </p>
		<input type="password" ng-model="repeatPassword">
		<br> <br>
		<button ng-click="submit()">Submit</button>
		<br> <br>
		<div ng-init="myName=Null"> {{myName}} </div>
		<div ng-init="myNum=Null"> {{myNum}} </div>
		<div ng-init="myEmail=Null"> {{myEmail}} </div>
		<div ng-init="myPassword=Null"> {{myPassword}} </div>
		<div ng-init="repeat=Null"> {{repeat}} </div>
	</div>
<p> {{successful}} </p>
</body>
</html>
