
<div ng-controller="FeedCtrl">
  <h2>The Props Feed</h2>
  <a href="#/me">View my props</a>
  <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>
  <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
  <textarea class="form-control" placeholder="Type something positive here :)" ng-model="newProp.text"></textarea>
  <div class="row">
    <div class="col-md-4">
      <select ng-model="newProp.receiver" ng-options="bru as bru.first_name for bru in brus" class="form-control"></select>
    </div>
    <div class="col-md-4">
      <div class="btn btn-info" ng-click="addProp()">Validate and send!</div>
    </div>
  </div>

  <div class="props-feed">
    <div class="prop" ng-repeat="prop in props">
      <p>{{prop.text}}</p>
      <div>
        <small>Positivity: {{prop.positivity_score}}</small>
      </div>
      <small>To: {{prop.receiver.first_name}}</small>
    </div>
  </div>
</div>